# Python virtual environment
venv/
__pycache__/
*.pyc
*.tmp

# Build artifacts
dist/
build/
*.spec

# User-specific data
downloads/
videos/
logs/
data/links.txt

# IDE settings
.idea/
.vscode/

# 忽略其他不必要的文件
ffmpeg/